@use '/src/styles/constants/colors';

.kanbanListWrap {
  .kanbanBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((1280px - 200px) / 4);
    height: calc(100vh - 224px);
    padding: 30px 10px;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow:
      1px 1px colors.$KANBAN_BOX_SHADOW,
      3px 3px colors.$KANBAN_BOX_SHADOW,
      5px 5px colors.$KANBAN_BOX_SHADOW,
      7px 7px colors.$KANBAN_BOX_SHADOW,
      9px 9px colors.$KANBAN_BOX_SHADOW;
  }

  .kanbanTitle {
    font-size: 22px;
    font-weight: 600;
    color: colors.$WHITE;
    text-align: center;
    text-shadow:
      -1px 0 colors.$TITLE_BORDER,
      0 1px colors.$TITLE_BORDER,
      1px 0 colors.$TITLE_BORDER,
      0 -1px colors.$TITLE_BORDER;
    text-transform: uppercase;
  }
}
