.backgroundImgContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 1480px;
  height: 100vh;

  img {
    z-index: -1;
    width: 100px;
    height: auto;
  }

  .img1 {
    position: absolute;
    top: calc(100vh * 0.1);
    left: calc(100vw * 0.02);
  }

  .img2 {
    position: absolute;
    top: calc(100vh * 0.9);
    left: calc(100vw * 0.8);
  }

  .img3 {
    position: absolute;
    top: calc(100vh * 0.4);
    left: calc(100vw * 0.68);
  }

  .img4 {
    position: absolute;
    top: calc(100vh * 0.8);
    left: calc(100vw * 0.46);
  }

  .img5 {
    position: absolute;
    top: calc(100vh * 0.3);
    left: calc(100vw * 0.25);
  }

  .img6 {
    position: absolute;
    top: calc(100vh * 0.5);
    left: calc(100vw * 0.93);
  }

  .img7 {
    position: absolute;
    top: calc(100vh * 0.08);
    left: calc(100vw * 0.9);
  }

  .img8 {
    position: absolute;
    top: calc(100vh * 0.7);
    left: calc(100vw * 0.14);
  }
}
